* {
  font-family: georgia serif;
}

.buttons {
  text-align: center;
  border: 2px solid;
  background-color: grey;
  border-radius: 15px;
  float: left;
}

#mouseLabel {
  position: absolute;
  background-color: lightgray;
  border-radius: 15px;
  text-align: center;
}
