* {
  font-family: georgia serif;
}

.button {
  font-size: 30px;
  text-align: center;
  color: red;
}

#mouseLabel {
  position: absolute;
  background-color: lightgray;
  border-radius: 15px;
  text-align: center;
}
