* {
  font-family: georgia serif;
}

.buttons {
  background-color: grey;
  border-radius: 12px;
  padding: 12px 24px;
  transition-duration: 0.4s;
}

.buttons:hover {
  background-color:lightgray;
  color: white;
}

#mouseLabel {
  position: absolute;
  background-color: lightgray;
  border-radius: 15px;
  text-align: center;
}
